# Data Science Tools and Ecosystem

In this notebook Data Science Tools and Ecosystem are summarized.

### Introduction for the Data Science Tools and Tasks:
### The Data Science Task Categories include:
1) Data Management -  storage, management and retrieval of data
2) Data Integration and Transformation - streamline data pipelines and automate data processing tasks
3) Data Visualization - provide graphical representation of data and assist with communicating insights
4) Modelling - enable Building, Deployment, Monitoring and Assessment of Data and Machine Learning models

### Some of the popular languages that Data Scientists use are:
1. Python
2) SQL
3) Java
4) Julia
5) Scala

### Some of the commonly used libraries used by Data Scientists include:
1) Matiplotlib
2) Plotly|
3) Keras
4) TensorFlow
5) Pytorch
6) Scrapy
7) Numpy

### Below is the Table for Data Science Tools and it's functions
| Data science Tools | Names of the tools | Function|
|--------------------|--------------------|---------|
|Data management | MongoDB and Apache Cassandra | Used for No SQL Databases|
|Data Integration and Transformation |Apache Airflow and Apache Kafka|Used for integration|
|Data Visualization|Cognos Analytics, Tableau and PowerBI|Used for better visualization|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#Example for addition 2 nos
a=78
b=90
c=a+b
print(c)
#Example for subtraction 2 nos
a=78
b=90
c=a-b
print(c)
#Example for multiplication 2 nos
a=78
b=90
c=a*b
print(c)
#Example for division 2 nos
a=78
b=90
c=a/b
print(c)

168
-12
7020
0.8666666666666667

In [5]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
a=200
b=a/60
y = "{:.2f}".format(b)
print(a,"minutes to Hours Conversion is:",y,"hours")

200 minutes to Hours Conversion is: 3.33 hours

### Objectives:
- To get a basic idea of teh Jupyter Notebook
- To understand different markdown functions
- List of popular langauges for Data Science
    - Python
    - Scala
    - R
    - Julia

## Author: 
Durgesh Katigar